#footer
{
	width: 100%;
	background-color: #333333;
	opacity: 0.8;
	min-width: 1050px;
	
	-webkit-box-shadow: 0 150px 0px 0px #333333;
 	-moz-box-shadow: 0 150px 0px 0px #333333;
   	box-shadow: 0 150px 0px 0px #333333;
}

#footer-content
{
	min-height: 150px;
	margin-top: 50px;
	padding-top: 20px;
}

#bottom-links ul li a
{
	color: white;
}