#createGroupForm .row
{
	margin-top: 0;
}

#mainCreateError
{
	margin-top: 30px;
}

#acceptterms
{
	margin-top: 20px !important;
	margin-bottom: 10px;
}

#description
{
	max-height: 500px;
}

.groupImage
{
	width:75px;
	height:75px;
	border: 1px solid GRAY;
}