#login-form input[type="submit"]
{
	margin-right: -4px;
}

#login-form-container,
#register-form-container
{
	background: #FAFAFA;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
	padding-bottom: 12px;
}

#login-form,
#register-form
{
	padding: 12px;
}

#register-form-container
{
	margin-top: 20px;
}

#home-content-right
{
	/*
	border: 1px solid #FFC400;
	border-radius: 3px;
	background: #FFC400;*/
}

body
{
	/*background: url('../images/orange1.jpg') no-repeat 0px 0px;*/
}

#home-page-quick-links > div
{
	margin: 38px;
	padding: 10px;
}

#home-page-quick-links > div > span
{
	font-size: 210%;
	text-shadow: 2px 2px 4px WHITE;
}

#home-page-quick-links > div > span i
{
	margin-right: 18px;
}

#home-page-quick-links > div > span a
{
	color: WHITE !important;	
}

#home-page-subsection
{
	width: 100%; 
	background: white;
	margin-top: -20px;
}

.home-subsection
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#welcome-message
{
	line-height: 120%;
}

#welcome-message a:link
{
	color: White;
	text-decoration: underline;
}

#welcome-message a:visited
{
	color: White;
	text-decoration: underline;
}

.homeOptions
{
	height: 65px !important;
}

#loginFormContainer
{
	margin: 25px 0 25px 0;
	background: #f9f9f9;
	border: 1px solid #ececec;
	border-radius: 3px;
	padding: 15px;
}

#homeBanner
{
	margin-top: 0 !important;
	background: url('../backgrounds/use_your_illusion_@2x.png');
	background-position: center;
	border-bottom: 20px solid #f1f1f1;
}

#bannerContent
{
	margin-top: 0;
}

#bannerHeader > *
{
	color:white;
}

#bannerHeader
{
	min-height: 270px;
}

#headerButtons
{
	padding: 55px 0;
}

#headerButtons button
{
	margin-right: 30px
}