#login-form input[type="submit"]
{
	margin-right: -4px;
}

#login-form-container,
#register-form-container
{
	background: #FAFAFA;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
	padding-bottom: 12px;
}

#login-form,
#register-form
{
	padding: 12px;
}

#register-form-container
{
	margin-top: 20px;
}

#home-content-right
{
	/*
	border: 1px solid #FFC400;
	border-radius: 3px;
	background: #FFC400;*/
}

body
{
	background: url('../images/studying1.jpg') no-repeat 0px -310px; 

}

#home-page-quick-links > div
{
	margin: 30px;
	padding: 25px;
}

#home-page-quick-links > div > span
{
	font-size: 210%;
}

#home-page-quick-links > div > span i
{
	margin-right: 18px;
}

#home-page-quick-links > div > span a
{
	color: WHITE !important;	
}

#home-page-subsection
{
	width: 100%; 
	background: white;
	margin-top: -20px;
}

.home-subsection
{
	padding-top: 20px;
	padding-bottom: 20px;
}