body
{
	margin: 0;
	background: WHITE;
}

.page-content
{
	margin: 0 auto;
	width: 1050px;
}

.form-title-header
{
	border-bottom: 1px solid #EEEEEE;
	padding: 12px;
}

.divider1
{
	width: 100%;
	height: 25px !important;
	margin-top: 70px;
	margin-bottom: 20px;
	background-color: #004D40;
}

.font-size-medium
{
	font-size: 110%;
}

.errorFormText1
{
	color: #CC0000 !important;
}

.valid
{
	border: 1px GREEN solid !important;
}

.invalid
{
	border: 1px #CC0000 solid !important;
}

.topMarginMedium
{
	margin-top: 20px !important;
}

textarea
{
	font: normal normal normal 13.3333330154419px/normal Arial;
	line-height: 1.4em;
}