body
{
	margin: 0;
	background: WHITE;
}

.page-content
{
	margin: 0 auto;
	width: 1050px;
}

.form-title-header
{
	border-bottom: 1px solid #EEEEEE;
	padding: 12px;
}

.divider1
{
	width: 100%;
	height: 25px !important;
	margin-top: 70px;
	margin-bottom: 20px;
	background-color: #004D40;
}

.font-size-medium
{
	font-size: 110%;
}

