#nav-buffer
{
	height: 45px;
}

#userAndImageBox:hover
{
	background: none !important;
	color: inherit !important;
}

#userAndImageBox
{
	margin-right: 5px;
}

#main-nav
{
	/*border-bottom: 1px solid orange;*/
}

#category-dropdown-container
{
	width: 1030px !important;
}