#navigation-container
{
	top: 0;
	background: #37474F;
	width: 100%;
	min-width: 1050px;
	box-shadow:  0 0 3px black;
	margin-bottom: 3px;
}

#navigation-buffer, #navigation-contents
{
	height: 50px;
}

#navigation-contents
{
	margin: 0 auto;
}

#navigation-contents > div
{
	display: inline-block;
	vertical-align: top;
	height: 50px;
}

#navigation-contents img
{
	vertical-align: middle;
}

#nav-main-links
{
	width: 15%;
	margin-right: -4px;
	line-height: 50px;	
}

#nav-search-container
{
	width: 45%;
	margin-right: -4px;
	line-height: 50px;	
}

#nav-extra-links
{
	width: 40%;
	text-align:right;
}

.search-box-main
{
	width: 350px;
	border: 1px solid #FF8F00;
	border-right: none;
}

.search-button-main
{
	border: 1px solid #FF8F00;;
	background: #FF8F00;
	font-weight: bold;
	color: white;
	margin: 0 0 0 -5px;
}

.search-box-main, .search-button-main
{
	padding: 6px;
	font-size: 11pt;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#nav-extra-links > ul > li
{
	display: inline-block;
	padding: 0;
	line-height: 50px;
	top: 0;
}

#nav-extra-links > ul
{
	padding: 0;
	margin: 0;
}

#nav-extra-links > ul > li:hover
{
	background:pink;
}

