#navigation-container
{
	top: 0;
	background: WHITE;
	width: 100%;
	min-width: 1050px;
	box-shadow:  0 0 3px black;
	margin-bottom: 3px;
}

#navigation-buffer, #navigation-contents
{
	height: 50px;
}

#navigation-contents
{
	margin: 0 auto;
}

#navigation-contents > div
{
	display: inline-block;
	vertical-align: top;
	line-height: 50px;
}

#navigation-contents img
{
	vertical-align: middle;
}

#nav-main-links
{
	width: 20%;
}

#nav-search-container
{
	width: 60%;
}

#nav-extra-links
{
	width: 20%;
}

.search-box-main
{
	width: 350px;
	border: 1px solid #b0b0b0;
	border-right: none;
}

.search-button-main
{
	border: 1px solid #4679bd;;
	background: #4679bd;
	font-weight: bold;
	color: white;
	margin: 0 0 0 -5px;
}

.search-box-main, .search-button-main
{
	padding: 6px;
	font-size: 11pt;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}