#createOrgForm .row
{
	margin-top: 0;
}

#mainCreateError
{
	margin-top: 30px;
}

#acceptterms
{
	margin-top: 20px !important;
	margin-bottom: 10px;
}

#description
{
	max-height: 500px;
}

#orgWelcomeContainer > div
{
	min-height: 150px;
}

#orgImage
{
	border: 1px solid #d3d3d3;
	border-bottom: none;
	height: 200px;
	background: url('../images/books3b.jpg') no-repeat;
}