#createOrgForm .row
{
	margin-top: 0;
}

#mainCreateError
{
	margin-top: 30px;
}

#acceptterms
{
	margin-top: 20px !important;
	margin-bottom: 10px;
}

#description
{
	max-height: 500px;
}

#orgWelcomeContainer > div
{
	min-height: 150px;
}