#quizEditTopPanelContent
{
	height: 45px;
}

#quizEditTopPanelContent > div,
#quizEditTopPanelContent > div > h4
{
	line-height: 45px;
}

.questionCreateContainer
{
	border-top: 1px solid GRAY;
}

#quizEditTopPanel
{
	position: fixed;
	border-bottom: 1px solid #d3d3d3;
	background: white;
	z-index: 1234;
	width: 100%;
	min-width: 1050px;
	padding-bottom: 5px;
	top: 45px;
}

#quizEditTopPannelBuffer
{
	height: 52px;
}

#quizEditSubPanel
{
	min-width: 1050px;
	background: #F0F9FF;
	padding-top: 15px;
	padding-bottom: 15px;
}

.quizQuestionList
{ 
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #d3d3d3;
	height: 500px;
}
.quizQuestionListContent
{
    padding: 0px;
}








#quiz-subnav
{
	margin-top: 0 !important;
}

#questionHead
{
	font-size: 1.3em;
	line-height: 1.3em;
}

#answerDiv .command-button
{
	margin-bottom: 10px;
	padding: 8px;
	border-radius:3px;
	margin-left: 0;
}



