#register .row
{
	margin-top: 0;
}

#acceptterms
{
	margin-top: 20px !important;
	margin-bottom: 10px;
}

.valid
{
	border: 1px GREEN solid !important;
}

.invalid
{
	border: 1px #CC0000 solid !important;
}